* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: Montserrat;
}

.price-tables {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 1170px;
  height: 788px;
  margin-bottom: 18px;
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  position: relative;
  overflow: hidden;
}
.price-card__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 64px;
  margin: 30px auto 36px auto;
  color: white;
}
.price-card__title-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.price-card__title-subtitle {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.price-card .basic {
  width: 100px;
}
.price-card .business {
  width: 165px;
}
.price-card .webshop {
  width: 175px;
}
.price-card__title-popular {
  right: -30px;
  top: 30px;
  transform: rotate(-45deg);
  position: absolute;
  transform: rotate(45deg);
  font-size: 14px;
  width: 147px;
  height: 25px;
  transform: 45deg;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: #DC3F45;
  font-weight: 700;
  color: #fff;
}
.price-card .price-card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 104px;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin-top: 39px;
}
.price-card .price-card__basic-color {
  background: #5BB189;
}
.price-card .price-card__business-color {
  background: #3A6BA5;
}
.price-card .price-card__website-color {
  background: #EC632A;
}
.price-card .price-card__description {
  width: 328px;
  margin: 40px auto 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  line-height: 18px;
}
.price-card .price-card__options-list {
  width: 380px;
  height: 300px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-weight: 300;
  position: relative;
}
.price-card .price-card__options-list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 18px;
  width: 380px;
  height: 50px;
  margin-left: 58px;
  color: #fff;
  margin: 0;
  padding: 0 60px;
  position: relative;
  font-size: 15px;
}
.price-card .price-card__options-list-item:nth-child(odd) {
  background: #2A3438;
}
.price-card .price-card__green-checkmark > li::before {
  content: "";
  background: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  width: 15px;
  height: 13px;
  position: absolute;
  left: 22px;
}
.price-card .price-card__blue-checkmark > li::before {
  content: "";
  background: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  width: 15px;
  height: 13px;
  position: absolute;
  left: 22px;
}
.price-card .price-card__orange-checkmark > li::before {
  content: "";
  background: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
  width: 15px;
  height: 13px;
  position: absolute;
  left: 22px;
}

/*# sourceMappingURL=styles.css.map */
