* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    color: $color-dark;
}

.page {
    width: 100%;

    @include for-large-up {
        display: flex;
        height: 100vh;
        max-width: 1400px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
    }

}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.top-section {
    background-color: #F3C6BD;

    @include for-large-up {
        padding: 39px 0 0;
    }

    &_stories {
        background-color: #F9D9EB;
    }
}

.btn {
    height: 48px;
    width: 160px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.action-btn {
    background-color: #3040c4;
    color: white;
}

.learn-more-btn {
    color: #3040c4;
    background-color: white;
}

.hide_desktop {

    @include for-large-up {
        display: none;
    }
}

.hide_mobile {

    @include for-large-down {
        display: none;
    }
}