.features {
    display: flex;
    position: relative;
    padding-bottom: 103px;

    @include for-large-down {
        display: none;
    }

    &__content {
        display: flex;
        width: 1140px;
        margin: 0 auto;
    }
    
    &__column {
        width: 459px;
    }
    
    &__subtitle {
        margin: 0;
        font-size: 22px;
        line-height: 34px;
        font-weight: 700;
        color: #009B4D;
    }
    
    &__title {
        font-weight: 700;
        margin: 24px 0 0;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }
    
    &__description {
        margin: 30px 0 0;
        font-size: 24px;
        line-height: 34px;
    }

    &__advantage {
        
        &-header {
            display: flex;
            margin-top: 42px;
        }
        
        &-title {
            margin: 0 0 0 15px;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: #3142C6;
        }
        
        &-description {
            margin: 8px 0 0;
            padding: 0 0 22px 0;
            font-size: 18px;
            line-height: 26px;
            border-bottom: 3px solid #3142C6;
        }
        
        &-item {
            display: flex;
            margin-top: 21px;
            padding: 0 0 22px 0;
            border-bottom: 1px solid #2b292d26;
    
            &-text {
                margin-left: 15px;
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
            }
    
        }
    }
    
    
    &__left-decoration {
        position: absolute;
        top: 258px;
        height: 166px;
    }
    
    &__banner {
        position: absolute;
        right: 0;
    }
}