.feedback {
    position: relative;
    padding: 39px 15px 50px;
    border-bottom: 1px solid #0000001a;
    text-align: left;
    
    @include for-large-up {
        padding: 0 0 66px;
    }
    
    &_stories {
        background-color: #d3e9ef4d;
        border-bottom: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include for-large-up {
            align-items: center;
        }
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        margin: 37px 0 88px;
    }

    &__title {
        margin: 0;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: $text-color-blue;
    }

    &__text {
        max-width: 750px;
        margin: 0;
        margin-top: 29px;
        font-size: 24px;
        line-height: 34px;

        @include for-large-up {
            max-width: 750px;
            margin-top: 28px;
            text-align: center;
        }

    }

    &__author-name {
        margin: 0;
        margin-top: 32px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        text-align: left;
    }

    &__author-position {
        line-height: 24px;
        color: $text-color-light-grey;
    }

    &__nav-slide {
        margin-top: 40px;
        text-align: center;

        .dots {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0;
            border-radius: 50%;
            background: $color-dark;
            opacity: 0.2;
            cursor: pointer;
            transition: .4s;

            @include for-large-up {
                width: 8px;
                height: 8px;
            }

            &_selected {
                opacity: 1;
                background: $color-dark-blue;
            }

        }

        .dots:hover {
            opacity: 1;
            background: $color-dark-blue;
        }

        .dots:nth-child(2) {
            margin: 0 15px;
        }

    }

    &__img {
        margin: 35px auto 0;
        display: block;

        @include for-large-up {
            margin: 0;
            position: absolute;
            right: 0;
            bottom: 1px;
        }

    }

}