$color-yellow-light: #FCF0E366;
$color-dark: #2B292D;
$color-dark-blue: #3142C5;
$color-light: #F4F5F7;
$color-white: #FFF;
$color-blue: #00A1C612;


$text-color-green: #009B4D;
$text-color-blue: #3142c6;
$text-color-light-blue: #0189D1;
$text-color-orange: #F1592B;
$text-color-light-grey: #2b292d99; // color: rgba(43, 41, 45, 0.6)


$border-color: #2b292d33;