* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
  }
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding: 39px 0 0;
  }
}
.top-section_stories {
  background-color: #F9D9EB;
}

.btn {
  height: 48px;
  width: 160px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.action-btn {
  background-color: #3040c4;
  color: white;
}

.learn-more-btn {
  color: #3040c4;
  background-color: white;
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-left: 15px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    width: 1140px;
    height: 62px;
    margin: auto;
    background-color: transparent;
  }
}
.header__menu-button {
  height: 100%;
  width: 58px;
  margin-left: auto;
  border: none;
  border-left: 1px solid #00000026;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  height: 13px;
  width: 18px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}

.logo {
  display: flex;
}
.logo__img {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d99;
  }
}

.navigation {
  display: none;
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
  }
}
.navigation__item {
  margin-right: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  text-decoration: none;
  cursor: pointer;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: bold;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}

.header-button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-button {
    display: block;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    display: flex;
    position: relative;
    width: 1140px;
    margin: 84px auto 0;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    margin: 0;
    z-index: 1;
  }
}
.headline__title {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    height: 165px;
    width: 754px;
    margin: 0;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    height: 102px;
    width: 456px;
    margin-top: 34px;
    margin-bottom: 0;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__learn-more-btn {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    height: 448px;
    width: 796px;
    margin-left: auto;
    margin-bottom: 0;
    top: 0;
    right: -105px;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    height: 338px;
    width: 1140px;
    margin: 0 auto;
  }
}
.footer-description {
  display: none;
  width: 360px;
  margin-top: 26px;
  line-height: 26px;
  font-size: 18px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer-description {
    display: block;
  }
}
.footer-line {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  border-top: 1px solid rgba(43, 41, 45, 0.1);
}
@media screen and (min-width: 1400px) {
  .footer-line {
    margin: 0;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 44px;
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 25px 15px 0;
}
@media screen and (min-width: 1400px) {
  .downloads {
    justify-content: flex-start;
    margin: 25px 0 0;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-left: auto;
    margin-top: 60px;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-right: 29px;
    margin-top: 0;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  margin: 0;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
}
.nav-links__list {
  margin: 18px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
}
.nav-links__item a {
  color: #2b292d99;
  text-decoration: none;
}

.terms {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin-top: 0;
    line-height: 50px;
  }
}
.terms__items {
  margin-right: 22px;
  text-decoration: none;
  color: #2b292d99;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  height: 60px;
  width: 60px;
}
.logo-vertical__name {
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-weight: 700;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d99;
}

.about {
  width: 100%;
  padding: 46px 15px;
  background-color: #F4F5F7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
.article__text {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 32px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    flex-direction: row;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 106px;
  }
}
@media screen and (min-width: 1400px) {
  .customers_bottom {
    padding-bottom: 76px;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94px;
  width: 107px;
  flex-grow: 1;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  max-width: 80%;
  filter: brightness(0);
}

.features {
  display: flex;
  position: relative;
  padding-bottom: 103px;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #009B4D;
}
.features__title {
  font-weight: 700;
  margin: 24px 0 0;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.features__description {
  margin: 30px 0 0;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  margin: 0 0 0 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
}
.features__advantage-description {
  margin: 8px 0 0;
  padding: 0 0 22px 0;
  font-size: 18px;
  line-height: 26px;
  border-bottom: 3px solid #3142C6;
}
.features__advantage-item {
  display: flex;
  margin-top: 21px;
  padding: 0 0 22px 0;
  border-bottom: 1px solid #2b292d26;
}
.features__advantage-item-text {
  margin-left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.inbox {
  background-color: #FCF0E366;
}
.inbox__wrapper {
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .inbox__wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 1140px;
    margin: 0 auto;
    padding: 115px 0 101px;
  }
}
.inbox__decoration {
  margin: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .inbox__decoration {
    flex-direction: column;
    align-items: center;
    margin-right: 164px;
    margin-top: 27px;
  }
}
.inbox__image {
  max-width: 290px;
}
@media screen and (min-width: 1400px) {
  .inbox__image {
    max-width: 425px;
  }
}
.inbox__image-caption {
  margin-top: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.inbox__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 36px;
}
@media screen and (min-width: 1400px) {
  .inbox__details {
    margin: 0;
    max-width: 519px;
  }
}
.inbox__details-wrapper {
  max-width: 519px;
}
@media screen and (min-width: 1400px) {
  .inbox__details-wrapper {
    padding: 0 29px;
  }
}
.inbox__subtitle {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #F1592B;
}
.inbox__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.inbox__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    margin: 30px 0 0;
  }
}
.inbox__quotes {
  max-width: 519px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .inbox__quotes {
    margin-top: 44px;
  }
}

.quote {
  padding: 30px 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185D0;
}
@media screen and (min-width: 1400px) {
  .quote {
    padding: 30px 30px 28px;
  }
}
.quote__text {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}
.quote__author-card {
  margin-top: 26px;
}

.author-card {
  display: flex;
  align-items: flex-start;
}
.author-card__avatar {
  margin-right: 11px;
}
.author-card__details {
  font-size: 16px;
  line-height: 22px;
}
.author-card__name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.author-card__position {
  margin: 0;
  line-height: 22px;
  color: #2b292d99;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: #009B4D;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  margin: 0;
  margin-top: 13px;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}
.tip__image {
  margin-top: 20px;
  max-width: 100%;
}
.tip__image-caption {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
}

.order {
  padding: 50px 15px;
  background-color: #F4F5F7;
}
@media screen and (min-width: 1400px) {
  .order {
    display: flex;
    justify-content: center;
    padding: 73px 0 72px;
  }
}
@media screen and (min-width: 1400px) {
  .order__details {
    max-width: 555px;
    margin-top: 40px;
  }
}
.order__ilustration {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .order__ilustration {
    width: 100%;
    max-width: 269px;
    margin: 0;
    margin-right: 121px;
  }
}
.order__title {
  margin-top: 40px;
  line-height: 40px;
  font-size: 40px;
  letter-spacing: -0.357143px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .order__title {
    margin: 0;
  }
}
.order__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border: 1px solid #2b292d33;
  border-radius: 2px;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin: 0;
    max-width: 385px;
  }
}
.order__email::placeholder {
  color: #2B292D;
}
.order__button {
  width: 100%;
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin: 0;
    width: 160px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

/*# sourceMappingURL=style.css.map */
